[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=flameshot
Comment=
Exec=flameshot
TryExec=flameshot
StartupNotify=false
X-GNOME-Autostart-enabled=true
Terminal=false
Hidden=false
